
.full-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom:0px;
}

.full-container-pane {
  width: 100%;
  height: 100%;
}

.top-container {
  min-height: 300px;
  height: 100%;
}

.pg-profiler-panel {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
}

.delete-cell {
  text-align: center;
  background-color: #f3f5f9;
}

.report-cell.sortable.renderable{
  text-align: center;
  background-color: #f3f5f9;
  overflow: hidden !important;
}

.sortable.renderable.profile_type>button, .sortable.renderable.database>button,
.sortable.renderable.start_date>button, .sortable.renderable.duration>button,
.sortable.renderable.report_id>button, .sortable.renderable.delete>button,
.sortable.renderable.name>button, .sortable.renderable.type>button,
.sortable.renderable.value>button,.sortable.renderable.option>button,
.sortable.renderable, tr>th {
  text-align:center !important;
  overflow:hidden !important;
}

.current_report {
  all:unset;
}

.current_report ul {
  padding: default;
}

.current_report>ul>li {
  list-style: bullet;
}

.current_report>table>tbody>tr>td>b>code {
  color: inherit;
}

.linestats>tbody>tr {
  border: 5px black;
}

.linestats>tbody>tr>td>code{
  color: black;
}
